<h2>Your Tasks</h2>

<% if @task.nil? %>
  404 Not Found
<%else%>
  <ul>
    <li><strong>Task:</strong> <%= @task.name %></li>
    <li><strong>Description:</strong> <%= @task.description %></li>
    <li><strong>Date of Event:</strong> <%= @task.due %></li>
    <sub><%= link_to "Edit", edit_task_path(@task.id) %></sub>
    <sub><%= link_to "Delete", task_path(@task.id), method: :delete %></sub>
  </ul>

  <% end %>
