<h2>Your Tasks</h2>

<% if @task.nil? %>
  404 Not Found
<%else%>
  <ul>
    <li><strong>Task:</strong> <%= @task.name %></li>
    <li><strong>Description:</strong> <%= @task.description %></li>
    <li><strong>Completion Date:</strong> <%= @task.due %></li>


    <sub><%= link_to "Edit", edit_task_path(@task.id) %></sub>
    <sub><%= link_to "Delete", task_path(@task.id), method: :delete, data: {confirm: "Please confirm you would like to delete." } %></sub>
  </ul>

  <% end %>
