<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="wrapper">
      <div class="box header">TASKLIST</div>
      <div class="box sidebar">
        <ul>
          <li><%= link_to "Add Task", new_task_path %></li>
          <li class="all_task"><%= link_to "All Task", tasks_path %></li>
        </ul>
      </div>

      <div class="box content">
        <h5 class="task">TASKLIST</h5>
        <ul><%= yield %><ul>
      </div>
      <div class="box footer">copywrite 2018</div>
    </div>

    <!-- <header>
      <nav>
        <h1>TASKLIST</h1>
        <ul>
          <li>Add Task</li>
          <li>All Task</li>
        </ul>
      </nav>
    </header>

    <main>
      <h5>TASKLIST</h5>
      <ul><%= yield %><ul>
    </main>

    <footer>copywrite 2018
    </footer> -->

  </body>
</html>
